/* Beige gives of "literature" vibes. */
body {
    background-color: beige;
    font-family: 'Cormorant Garamond';
}

/* Creating cool shadow effect. */
.content {
    margin: 15px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 6px;
}

/* Alignment of elements inside content divs. */
.justify-left,
.justify-center,
.justify-right,
.justify-even {
    display: flex;
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.justify-even {
    justify-content: space-evenly;
}

/* Styling links */

.aStyle:link {
    color: blue;
    background-color: beige;
    padding: 1px 1px;
    text-align: center;
}

.aStyle:hover {
    background-color: black;
    color: white;
}

.wide {
    width: 100%;
}