/* Beige gives of "literature" vibes. */
body {
    background-color: beige;
    font-family: 'Cormorant Garamond';
}

/* Creating cool shadow effect. */
.content {
    margin: 15px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 6px;
}

.inline {
    display: inline-flex;
    justify-content: space-between;
}

/* Alignment of elements inside content divs. */
.justify-left,
.justify-center,
.justify-right,
.justify-even {
    display: flex;
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.justify-even {
    justify-content: space-evenly;
}

/* Styling links */

.aStyle:link {
    color: blue;
    background-color: beige;
    padding: 1px 1px;
    text-align: center;
}

.aStyle:hover {
    background-color: black;
    color: white;
}

.wide {
    width: 100%;
}

/* Custom list bullets */

ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
  }
  
  li {
    padding-left: var(--icon-space);
  }
  
  li:before{
    content: "\23"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
  }