/* Effect inspired by mina-mounir's codepen. */

.center {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* First book's CSS */

.page {
    width: 30vh; /* Feels like a good measure */
    height: 45vh; /* 40 * 1.5 = 60 */
    background: #FFF;
    border-left: 30px solid #FF2929;
    transform: rotate(-45deg) skewX(10deg) scale(.8);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    justify-content: space-between;
}

.page:before {
    content: "";
    width: 30px;
    height: 100%;
    background: #8a0e0e;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-57px, -43px) 
}

.page:after {
    content: "";
    width: 106%;
    height: 30px;
    background: #CCC;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skewX(-45deg) translate(-11px, 30px) 
}

/* Second book's CSS */

.page2 {
    width: 30vh;
    height: 45vh;
    background: #FFF;
    border-left: 30px solid rgb(73, 73, 73);
    transform: rotate(-45deg) skewX(10deg) scale(.8);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    justify-content: space-between;
}

.page2:before {
    content: "";
    width: 30px;
    height: 100%;
    background: #212121;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-57px, -43px) 
}

.page2:after {
    content: "";
    width: 106%;
    height: 30px;
    background: #CCC;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skewX(-45deg) translate(-11px, 30px) 
}

.paddedBooks {
    padding-left: 25%;
    margin-top: -30px;
}

.sideBySideBooks {
    display: inline-flex;
}

.coverImage {
    width: 26vh; /* A bit smaller so it fits correctly */
    height: 45vh;
}