{% extends "base.html" %}

{% block pagetitle %}
<title>About</title>
{% endblock %}

{% block body %}

<div class="content justify-center">
    <h1>About me!</h1>
</div>

<div class="content">
    <div id="container" class="inline">
        <div id="imgContainer">
            <img src="../static/myFoto.jpg" style="width: 300px">
        </div>
        <div id="textContainer" style="padding-left: 20px;">
            <p>
                <h3>Hi CS50, I'm Francesco!</h3>
            </p>
            <p>
                I'm 24 years old, Italian and I love programming! I've studied Pure Mathematics in Bologna, I now work at a bike shop, and I dream of becoming a programmer.
            </p>
            <p>
                This small website, other than being the final project for CS50, is also my way of creating a small time capsule of a selection of things I've written over the years.
            </p>
            <p>
                I have loved, for how long I can remember, writing and acting. This is, in my opinion, a pretty cool way of applying these passions to the digital world.
            </p>
            <p>
                If you want to know more about me, don't hesitate to contact me here:
                <ul>
                    <li>Gmail: <a href="mailto:fr.bambina@gmail.com">fr.bambina@gmail.com</a></li>
                    <li>Instagram: <a href="https://www.instagram.com/francesco_bambina98/">francesco_bambina98</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/francescobambina/">francescobambina</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>

{% endblock %}