{% extends "base.html" %}

{% block pagetitle %}
<title>Book selector</title>
{% endblock %}

{% block stylesheets %}
<link href="../static/selectorStyle.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="justify-center">
        Book selector
    </h1>
</div>
<div class="center wide" style="margin-top: 60px">
    <!--Book container-->
    <div class="sidebySideBooks paddedBooks">
        <!--Personal diary-->
        <a href="{{ url_for('diary') }}">
            <div class="page">
                    <img src="../static/diary_cover.png" style="width: 370px; height: 600px">
                
            </div>
        </a>
        <a href="{{ url_for('writings') }}">
            <div class="page2">
                <img src="../static/writings_cover.png" style="width: 370px; height: 600px">
            </div>
        </a>
    </div>
</div>
{% endblock %}