{% extends "base.html" %}

{% block stylesheets %}
<link href="../static/folderStyle.css" rel="stylesheet">
{% endblock %}

{% block pagetitle %}
<title>Writings</title>
{% endblock %}

{% block body %}
<div class="content justify-center">
    <h1>Writings section</h1>
</div>
<div class="content">
    <a href="../static/Impressions 1.pdf" class="folderDisplay">
        <div class="folder">
            <div class="folderBack">
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="folderFront">
                </div>
                <div class="folderFront right">
                    <p class="folderName">Impressions #1</p>
                </div>
            </div>
        </div>
    </a>

    <a href="../static/Impressions 2.pdf" class="folderDisplay">
        <div class="folder">
            <div class="folderBack">
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="folderFront">
                </div>
                <div class="folderFront right">
                    <p class="folderName">Impressions #2</p>
                </div>
            </div>
        </div>
    </a>

    <a href="../static/Impressions 3.pdf" class="folderDisplay">
        <div class="folder">
            <div class="folderBack">
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="folderFront">
                </div>
                <div class="folderFront right">
                    <p class="folderName">Impressions #3</p>
                </div>
            </div>
        </div>
    </a>

    <a href="../static/_Reboot.pdf" class="folderDisplay">
        <div class="folder">
            <div class="folderBack">
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="folderFront">
                </div>
                <div class="folderFront right">
                    <p class="folderName">_Reboot</p>
                </div>
            </div>
        </div>
    </a>

    <a href="../static/Book.pdf" class="folderDisplay">
        <div class="folder">
            <div class="folderBack">
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="folderFront">
                </div>
                <div class="folderFront right">
                    <p class="folderName">Book</p>
                </div>
            </div>
        </div>
    </a>

    <a href="../static/Monologue.pdf" class="folderDisplay">
        <div class="folder">
            <div class="folderBack">
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="folderFront">
                </div>
                <div class="folderFront right">
                    <p class="folderName">Monologue</p>
                </div>
            </div>
        </div>
    </a>

    <a href="../static/Small poem.pdf" class="folderDisplay">
        <div class="folder">
            <div class="folderBack">
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="folderFront">
                </div>
                <div class="folderFront right">
                    <p class="folderName">Small poem</p>
                </div>
            </div>
        </div>
    </a>

    <a href="../static/Viaggio ai confini del cuore.pdf" class="folderDisplay">
        <div class="folder">
            <div class="folderBack">
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="folderFront">
                </div>
                <div class="folderFront right">
                    <p class="folderName">Viaggio ai confini del cuore</p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}